################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ChocAn_Data_Processing_System/.vs/ChocAn_Data_Processing_System/v15
